<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">open form</button>
    <h1>{{'Nilai a : '+a}}</h1>
    <h1>{{'Rata - rata : '+avg}}</h1>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        avg : 0
      },
      methods : {
          openform: function () {
              let currentval = 0
              let counter = 0

              while(true){

                currentval += parseInt(this.a)
                    if(currentval < 10){
                        this.a = prompt('masukan nilai a')
                        counter++
                    }
                    else{
                          break
                    }    

              }

              this.a = currentval
              this.avg = this.a / counter
             
          }
      }
  })
  </script>
</body>
</html>