<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quis 2</title>
</head>
<body>
  <div id="app">
    <form>
    <input type="text" v-model="inputName.name">
    <button v-if="editing" @click.prevent="update">Update</button>
    <button v-else @click.prevent="add">Add</button>
    </form>

    <ul>
        <li v-for="(user,index) in users">
            {{user.name}} <button v-on:click="edit(user,index)">Edit</button> || <button v-on:click="del(index)">Delete</button>
        </li>   
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
    el: "#app",
    data:{
        inputName : {
            name:''
        },
        editing: false,
        idSelect: null,
        users: [
            {
                'name' : 'Muhammad Iqbal Mubarok',
            },
            {
                'name' : 'Ruby Purwanti',
            },
            {
                'name' : 'Faqih Muhammad',
            },
        ]
    }, 
    methods: {
        add : function(){
            this.users.push(
               this.inputName
            )
            this.inputName = {}
        },
        edit : function(user,index){
            this.inputName.name = user.name 
            this.editing = true
            this.idSelect = index
        },
        del : function(index){
            if(confirm('Anda Yakin ?')){
                this.users.splice(index, 1)
            }
            else{
                return false;
            }  
        },
        update : function(){
            this.users[this.idSelect].name = this.inputName.name
            this.editing = false
            this.inputName = {}
            this.idSelect = null 
        }
    },
})
  </script>
</body>
</html>