<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Tugas 12</title>
  </head>
  <body class="pt-5">
        <div id="app" class="px-5">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">Tugas 12 Ajax Axios CRUD</a>
            </nav>
            
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="p-3" style="border: 1px solid #eee;">
                        <form @submit.prevent = "addData()">
                            <h5 class="mb-3 text-center">Add Member</h5>
                            <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" v-model="name" :disabled="action == 'upload'">
                            </div>
                            <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control" id="address" rows="3" placeholder="Enter your address" v-model="address" :disabled="action == 'upload'"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="Enter your phone number" v-model="phone" :disabled="action == 'upload'">
                                </div>
                            <div class="input-group mb-3" v-if="action == 'upload'">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="photo" name="photo" ref="photo" @change="onFileChange">
                                  <label class="custom-file-label" for="upload-image">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                  <button class="btn btn-success" type="button" @click="uploadImageData()">Upload</button>
                                </div>
                            </div>

                            <div class="mt-3 mb-4" v-if="preview">
                                <label>Preview</label><br>
                                <img v-if="preview" :src="preview" style="width: 100px; height: auto;" /><br>
                                <span>{{photo_name}}</span>
                            </div>

                              <div v-if="action == 'add'">
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                              <div v-else-if="action == 'edit'">
                                <button type="button" class="btn btn-info" @click="updateData()">Update</button>
                                <button type="button" class="btn btn-danger" @click="clearForm()">Cancel</button>
                              </div>
                              <div v-else-if="action == 'upload'">
                                <button type="button" class="btn btn-danger btn-block" @click="clearForm()">Cancel</button>
                              </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-3" style="border: 1px solid #eee;">
                        <h5 class="mb-3 text-center">Data Members</h5>
                        <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(member,index) in members">
                                <th scope="row">{{index + 1}}</th>
                                <td>
                                    <img :src="member.photo_profile ? 
                                    'http://demo-api-vue.sanbercloud.com'+member.photo_profile : 
                                    'https://www.aepint.nl/wp-content/uploads/2014/12/No_image_available.jpg'" 
                                    alt="image" style="width:50px; height:auto;">
                                </td>
                                <td>{{member.name}}</td>
                                <td>{{member.address}}</td>
                                <td>{{member.no_hp}}</td>
                                <td>
                                    <button class="btn btn-success btn-sm" @click="editData(member)">Edit</button>
                                    <button class="btn btn-danger btn-sm" @click="removeData(member.id)">Remove</button>
                                    <button class="btn btn-info btn-sm" @click="showUploadForm(member)">Upload</button>
                                </td>

                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    var vm = new Vue({
        el: "#app",
        data: {
            name: '',
            address: '',
            phone: '',
            members: [],
            action: 'add',
            member_id: null,
            preview: null,
            photo_name: '',
        }, 
        methods: {
            clearForm: function(){
                this.name = ''
                this.address =''
                this.phone = ''
                this.action = 'add',
                this.member_id = null,
                this.preview = null,
                this.photo_name = ''
            },
            addData : function(){

                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.phone)

                const config = {
                    method : 'post',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    data: formData,
                }

                axios(config)
                    .then( (response) => {
                        alert(response.data.message)
                        this.clearForm()
                        this.getData()
                        console.log(response.data)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            getData : function(){

                const config = {
                    method : 'get',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member'
                }

                axios(config)
                    .then( (response) => {
                        this.members = response.data.members
                        console.log(response.data.members)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            removeData : function(id){
                const config = {
                    method : 'post',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member/'+id,
                    params: { _method : 'DELETE' }
                }

                axios(config)
                    .then( (response) => {
                        alert(response.data.message)
                        this.getData()
                        console.log(response)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            editData: function(member){
                this.action = 'edit'
                this.name = member.name
                this.address = member.address
                this.phone = member.no_hp
                this.member_id = member.id
            },
            updateData: function(){
                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.phone)

                const config = {
                    method : 'post',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member/'+this.member_id,
                    data: formData,
                    params: { _method : 'PUT' }

                }

                axios(config)
                    .then( (response) => {
                        alert(response.data.message)
                        this.clearForm()
                        this.getData()
                        console.log(response.data)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            showUploadForm: function(member){
                this.action = 'upload'
                this.name = member.name
                this.address = member.address
                this.phone = member.no_hp
                this.member_id = member.id
            },
            uploadImageData: function(){
                let file = this.$refs.photo.files[0]

                let formData = new FormData()
                formData.append('photo_profile', file)

                const config = {
                    method : 'post',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member/'+this.member_id+'/upload-photo-profile',
                    data: formData,
                }

                axios(config)
                    .then( (response) => {
                        alert(response.data.message)
                        this.clearForm()
                        this.getData()
                        console.log(response.data)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            onFileChange(e) {
                const file = e.target.files[0]
                this.preview = URL.createObjectURL(file)
                this.photo_name = file.name
            }
        },
        created(){
            this.getData();
        }
    })
    </script>
  </body>
</html>