<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 9 dan 10</title>
</head>
<body>
  <div id="app">
    <input type="text" placeholder="ketikan kata kunci" v-model="search">
    <ul>
        <li v-for="book in searchBooks">
            {{book}}
        </li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
    el: "#app",
    data: {
        search: '', 
        books: [
        'Kalkulus Dasar', 
        'Fisika Dasar', 
        'Aljabar Linear Elementer',
        'Aljabar Abstrak',
        'Algoritma Pemograman'
        ]
    }, 
    computed: {
        searchBooks() {
            return this.books.filter(book => 
            book.toLowerCase().includes(this.search.toLowerCase())
            ) 
        }
    }
})
  </script>
</body>
</html>